.userMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.usersContainer{

}
.userPhoto{
    width: 70px;
    height: 70px;
}
.selectedPage{
    font-weight: bold;
}
.pagination{
    width: 300px;
}
.userCont{
    padding: 15px;
    margin: 5px 5px 20px 5px;
    border: 1px solid #b0b0b0;
    border-radius: 15px;
    box-shadow:3px 3px 3px #b0b0b0;
    width: 150px;
    height: 180px;

}
.userName{
    max-width: 125px;
}
.userDescr{
    display: inline-block;
    max-width: 125px;
    height: 50px;
}
@media screen and (max-width: 408px) {
    .userCont{
        width: 130px;
    }
}