.formControl{
    border: none;
    border-bottom: 1px solid black;
    margin: 20px 5px;
    background-color: #FFFFFF;
    width: 200px;
    height: 30px;
}
.formControl{
    -webkit-box-shadow: inset 0 0 0 50px #fff;
    -webkit-text-fill-color: #000;
}
.formControl:focus{
    border: none;
    border-bottom: 1px solid black;
}

 .error {
    border: 1px solid darkred;

}
.formControl.error span{
    color: darkred;
}
.forSummaryError{
    border: 1px solid darkred;
    color: darkslategrey;
}
.checkboxLogin{
    border: 1px ;
}
.btnLogin{
    width: 250px;
    height: 30px;
}
