.nav {
    grid-area: n;
    background-color: #E5E5E5;
    padding: 20px;


}
.items{
    background-color: #FFF;
    padding: 20px 20px;
    border-radius: 15px;
}
.item{
    padding: 15px 15px;
    border-radius: 15px;
    list-style: none;
    transition: background-color .15s;

}
.item:hover{
    background-color: #F4F4F4;
}
.item a{
    color: #181818;
    text-decoration: none;
}
.item a.active{
    color:#0077B5;
}