.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    height: 100vh;
    padding: 20px;

}
.dialogsItems {
    padding: 10px;
    color: lavenderblush;

}
.dialogsItems .active{
    color: blueviolet;

}

.messages{
    padding: 10px;

}
.messages.message{
    color: lavenderblush;

}
